doctype html
html( ng-app="open" )
	head
		meta(charset='utf-8')
		meta( name='HandheldFriendly', content='True')
		meta( name='MobileOptimized', content='320')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta( name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title Talentos - OpenSai
		link( href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css')
		link( rel="stylesheet", href="ng.css" )
		link( rel="stylesheet", href="start.css" )
		script( src="app.js" )

	body.ng-grid
		.all-100.top-space( win-Height=".logos" )
			.all-100.logos.large-bottom-space.xlarge-bottom-space.medium-bottom-space
				.all-40.small-100.tiny-100.medium-70.push-center: img( src="opensai.jpg", alt="OpenSai" )

			.column-group.text.ng-form.all-100.gutters.large-top-space.xlarge-top-space.medium-top-space( ng-controller="home as l" )
				.all-50.small-100.tiny-100.large-top-space.xlarge-top-space.medium-top-space
					.large-padding.xlarge-padding.medium-padding.small-half-padding.tiny-half-padding
						ul.text
							li ¿Te gusta la tecnologia y los medios digitales?
							li ¿Sabias que esta area compatible con cualquier profesión?

						p.align-center Si respondiste #[b si] a cualquiera de estas dos preguntas, debes saber #[b esta que oportunidad esta al alcance de todos.]

						h4.color-blue.align-center Elige el laboratorio que quieres aprender

						ul.select.all-100.gutters.column-group
							li.all-33.align-center
								label.all-100( for="diseno" ) 
									.circule.push-center: .click( class="{{ l.class === 'diseno' }}-check" )
									b.color-blue= 'Diseño Gráfico'
								input.ng-hide.all-hide#diseno( type="radio", name="class", value="diseno", ng-model="l.class",  ng-required )
							li.all-33.align-center
								label.all-100( for="3d" )
									.circule.push-center: .click( class="{{ l.class === '3d' }}-check" )
									b.color-blue Desarrollo 3D
								input.ng-hide.all-hide#3d( type="radio", name="class", value="3d", ng-model="l.class",  ng-required )
							li.all-33.align-center
								label.all-100( for="video" ) 
									.circule.push-center: .click( class="{{ l.class === 'video' }}-check" )
									b.color-blue Audiovisuales
								input.ng-hide.all-hide#video( type="radio", name="class", value="video", ng-model="l.class", ng-required )

				.all-50.small-100.tiny-100.large-top-space.xlarge-top-space.medium-top-space
					.large-padding.xlarge-padding.medium-padding.me.small-half-padding.tiny-half-padding
						h2.align-center empieza a aprender
						.control-group
							label.ng-hide.all-hide Nombre
							.control.required: input.half-padding#name( placeholder="Nombres y Apellidos *", type="text", ng-model="l.name", ng-required )
						.control-group
							label.ng-hide.all-hide Email
							.control.required: input.half-padding#email( placeholder="E-Mail *", type="email", ng-model="l.email",  ng-required  )
						.control-group
							label.ng-hide.all-hide Movil
							.control.required: input.half-padding#tel( placeholder="Celular *", type="text", ng-model="l.movil",  ng-required  )

						p.tip * Requerido
						.control-group.top-space
							button.ng-button.orange.all-100.half-padding( ng-click="l.sender()" ): h5.white.no-margin ¡Inscribete Ahora!
					
